<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.findpartner.dao.TeamDao">


	<!-- 发起一个组队 -->
	<insert id="addTeam" parameterType="com.findpartner.bean.TeamInfo">
		insert into
		teamInfo(teamName,teamIcon,teamCount,releaseTime,startTime,endTime,location,needing,additionNeading,pics,leader,state,type1,type2)
		values(
		#{teamName,jdbcType=VARCHAR},#{teamIcon,jdbcType=VARCHAR},
		<if test="teamCount == null">
			-1,
		</if>
		<if test="teamCount != null">
			#{teamCount,jdbcType=INTEGER},
		</if>
		now(),
		#{startTime,jdbcType=VARCHAR},
		#{endTime,jdbcType=VARCHAR},#{location,jdbcType=VARCHAR},
		#{needing,jdbcType=VARCHAR},
		#{additionNeading,jdbcType=VARCHAR},#{pics,jdbcType=VARCHAR},
		#{leader,jdbcType=VARCHAR},#{state,jdbcType=INTEGER},
		#{type1,jdbcType=VARCHAR},#{type2,jdbcType=VARCHAR}
		)
	</insert>

	<!-- 申请加入队 -->

	<insert id="addMenber" parameterType="com.findpartner.bean.TeamMenber">
		insert into
		teamMenber(teamId,teamName,menber,isCheck) values(
		#{teamId,jdbcType=INTEGER},#{teamName,jdbcType=VARCHAR},
		#{menber,jdbcType=VARCHAR},2
		)
	</insert>

	<select id="menberCounts" parameterType="Integer" resultType="Integer">
		select
		count(distinct menber)+1
		from teamMenber
		where
		teamId=#{teamId,jdbcType=INTEGER} and isCheck=1
	</select>

	<select id="isMenber" parameterType="com.findpartner.bean.TeamMenber"
		resultType="Integer">
		select
		count(1)
		from teamInfo i
		left join teamMenber m
		on i.teamId=m.teamId
		where
		i.teamId=#{teamId,jdbcType=INTEGER} and
		(leader=#{menber,jdbcType=VARCHAR} or (menber=#{menber,jdbcType=VARCHAR} and isCheck =1))
	</select>
	
	<!-- 是否已经申请过（到时要改 canApply） -->
	<select id="canApply" parameterType="com.findpartner.bean.TeamMenber"
		resultType="Integer">
		select count(i.teamId)
		from teamInfo i
		left join teamMenber m
		on i.teamId=m.teamId
		where
		<if test="teamId != null">
			i.teamId = #{teamId} and
		</if>
		 (( menber=#{menber,jdbcType=VARCHAR} and isCheck  &lt;  3) or
		 leader=#{menber,jdbcType=VARCHAR} )
		
	</select>

	<select id="getTeamInfoById" parameterType="Integer"
		resultType="com.findpartner.bean.TeamInfo">
		select p.* ,count( case isCheck when 1 then 1 else null end)+1 nowMemberCount from
		(select t.*,
		isCheck
		from teamInfo t left join teamMenber m on t.teamId=m.teamId
		where
		t.teamId=#{teamId,jdbcType=INTEGER})p
	</select>



	<!-- 显示队伍信息 -->
	<select id="getTeamsInfo" parameterType="com.findpartner.bean.TeamInfo"
		resultType="com.findpartner.bean.TeamInfo">
		select * from
	(select p.* ,count( case isCheck when 1 then 1 else null end)+1 nowMemberCount from		
		(select
		t.teamId,t.teamName,teamIcon,teamCount,startTime,endTime,location,needing,additionNeading,pics,leader,state,type1,type2,
		timestampdiff(day,now(),endTime) as leaveDay,
		mod(timestampdiff(hour,now(),endTime),24) as leaveHour,
		mod(timestampdiff(minute,now(),endTime),24) as leaveMinus,
		isCheck
		from teamInfo t left join teamMenber m on t.teamId=m.teamId
		where
		<if test="state != null">
			state = #{state} and
		</if>
		<if test="state == null">
			state &lt; 2 and
		</if>
			 endTime &gt; now()
		<if test="leader != null">
			and leader = #{leader ,jdbcType=VARCHAR}
		</if>
		<if test="teamId != null">
			and t.teamId = #{teamId,jdbcType=VARCHAR}
		</if>
		) p
		group by p.teamId
		) g
		where g.teamId is not null
		order by g.teamId desc
		limit #{start},#{pageSize}
	</select>

	<!-- get team member info -->
	<select id="getTeamFlowerMenbers" parameterType="com.findpartner.bean.TeamMenber"
		resultType="com.findpartner.bean.TeamMenber">
		select *
		from teamMenber
		where
		teamId=#{teamId,jdbcType=INTEGER}
		<if test="menber != null">
			and menber = #{menber,jdbcType=VARCHAR}
		</if>
		<if test="isCheck != null">
			and isCheck = #{isCheck}
		</if>
	</select>


	<select id="getTeamMenbers" parameterType="Integer"
		resultType="com.findpartner.bean.MemberInfo">
		select u.phone,nickname,userIcon,sex,selIntroduce ,a.role from userinfo u,
		((select leader as phone,1 as role from teamInfo where teamId=#{teamId})
		union (select menber as phone,0 as role from teamMenber where teamId=#{teamId} and isCheck=1)) a
		where u.phone=a.phone
	</select>


	<select id="getMenberInfo" parameterType="String"
		resultType="com.findpartner.bean.UserInfo">
		select
		phone,nickname,sex,age,selIntroduce,address,userIcon,university,school,grade,major
		from userinfo
		where
		phone=#{phone,jdbcType=INTEGER}
	</select>


	<update id="delTeam" parameterType="com.findpartner.bean.TeamInfo">
		update  teamInfo
		set state=3
		where teamId=#{teamId} and leader=#{leader,jdbcType=INTEGER}
	</update>

	<update id="updateTeamMenberState" parameterType="com.findpartner.bean.TeamMenber" >
		update teamMenber
		set isCheck=#{isCheck}
		where teamId=#{teamId} and menber=#{menber,jdbcType=VARCHAR}
	</update>



	<!-- 查询 -->
	<select id="getTeamsInfoByUser" parameterType="com.findpartner.bean.TeamInfo"
		resultType="com.findpartner.bean.TeamInfo">
		select * from (
		select p.* ,count( case isCheck when 1 then 1 else null end)+1 nowMemberCount from
		(select distinct t.teamId as teamId,t.teamName as teamName,
		teamCount,startTime,endTime,location,needing,additionNeading,leader,state,type1,type2,teamIcon,pics,isCheck
		from teamInfo t left join teamMenber m on t.teamId=m.teamId
		where
		<if test="state != null">
			state = #{state} and
		</if>
		(t.leader=#{leader,jdbcType=VARCHAR} or (m.menber=#{leader,jdbcType=VARCHAR} and m.isCheck=1) )
		)p
		group by p.teamId
		) g 
		where teamId is not null
		order by teamId desc
		limit
		#{start},#{pageSize}
	</select>
	
	<update id="updateOutdatedTeamState" >
		update teamInfo
		set state=
		case when startTime &gt; now() then 0
			 when endTime &lt; now() then 2 
			 else 1
		end
		where state!=3 and (startTime &gt; now() or endTime &lt; now())
	</update>
	
	
	<!-- 查询 -->
	<select id="getTeamId" parameterType="com.findpartner.bean.TeamInfo"
		resultType="Integer">
		select  teamId
		from teamInfo
		where
		leader=#{leader,jdbcType=VARCHAR}
		and startTime=#{startTime,jdbcType=VARCHAR}
		and endTime=#{endTime,jdbcType=VARCHAR}
		<if test="teamName != null">
			and teamName = #{teamName,jdbcType=VARCHAR}
		</if>
		<if test="needing != null">
			and needing = #{needing,jdbcType=VARCHAR}
		</if>
		<if test="additionNeading != null">
			and additionNeading = #{additionNeading,jdbcType=VARCHAR}
		</if>
	</select>
	
		<!-- 查询 -->
	<select id="isExitOrUnCheck" parameterType="com.findpartner.bean.TeamMenber"
		resultType="Integer">
		select  count(1)
		from teamMenber
		where teamId=#{teamId} and #{menber,jdbcType=VARCHAR} and isCheck>2
	</select>

	<update id="refuseRestApply"  parameterType="Integer">
		update teamMenber
		set isCheck=3
		where teamId=#{teamId} and isCheck=2;
	</update>

</mapper>